// navigation

.nav {
  padding: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__menu-links {
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    li {
      margin-right: 1.875rem;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: $grey;
        text-decoration: none;
      }
    }
  }
  .big-logo {
    display: inline-block;
  }
  .small-logo {
    display: none;
  }
  @media (max-width: 768px) {
    height: 4.125rem;
    padding: 0 1.25rem;
    background-color: $white;
    .big-logo {
      display: none;
    }
    .small-logo {
      display: inline-block;
    }
    &__menu-links {
      a {
        font-size: 0.875rem;
      }
    }
  }
}

// subscribe
.subscribe {
  .title {
    margin-bottom: 0.93rem;
  }
  .subtitle {
    margin-bottom: 3.125rem;
  }
  &__input-wrapper {
    position: relative;
    left: 100px;
    margin-bottom: 3.125rem;
  }
  &__checkbox {
    margin-left: 8.75rem;
  }

  @media (max-width: 768px) {
    .subtitle {
      margin-bottom: 1.25rem;
    }
    &__input-wrapper {
      left: unset;
      margin-bottom: 1.25rem;
    }
    &__checkbox {
      margin-left: unset;
    }
  }
}

// socials

.socials {
  ul {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    li {
      margin-right: 1.25rem;
      &:last-child {
        margin-right: 0;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 46px;
        height: 46px;
        border: 2px solid $lightGrey;
        border-radius: 50%;
        transition: background-color 0.3s ease, border 0.3s ease,
          box-shadow 0.3s ease;
        svg {
          fill: $black;
          opacity: 0.3;
          transition: fill 0.3s ease, opacity 0.3s ease;
        }
        &:hover {
          svg {
            fill: $white;
            opacity: 1;
          }
          box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
        }
      }
      &.facebook {
        a:hover {
          background-color: $facebookBlue;
          border: 2px solid $facebookBlue;
        }
      }
      &.youtube {
        a:hover {
          background-color: $youtubeRed;
          border: 2px solid $youtubeRed;
        }
      }
      &.twitter {
        a:hover {
          background-color: $twitterBlue;
          border: 2px solid $twitterBlue;
        }
      }
      &.instagram {
        a:hover {
          background-color: $instagram;
          border: 2px solid $instagram;
        }
      }
    }
  }
}
