// colors
$blue: #4066a5;
$lightBlue: #f2f5fa;
$darkBlue: #233759;
$black: #131821;
$grey: #6a707b;
$lightGrey: #e3e3e4;
$white: #fff;

// social media colors

$facebookBlue: #4267b2;
$facebookDarkBlue: #2f4a80;

$youtubeRed: #ff0000;
$youtubeDarkRed: #cc0000;

$instagram: #c13584;
$instagramDark: #8f2762;

$twitterBlue: #1da1f2;
$twitterDarkBlue: #177fbf;
